# WebScrapping Application with Python
----

O objetivo do projeto é apresentar os conceitos básicos de Webscraping utilizando as principais bibliotecas hoje disponíveis no Python para realizar a consulta na base da infomoney para atualizarmos em uma tabela em tempo real as maiores altas e mínimas das ações na Bolsa de Valores.<br>
<br>
<li>Python</li>
<li>Sellenium</li>
<li>Pandas</li>
<li>Jupyter Notebook</li>

<h3>Importing Libraries that will be used</h3>

In [2]:
from selenium import webdriver

In [120]:
from selenium.webdriver.chrome.service import Service

In [3]:
import pandas as pd

In [4]:
import os

<h3>Setting up url website and getting the chrome driver path</h3>

In [36]:
url = 'https://www.infomoney.com.br/ferramentas/altas-e-baixas/'

In [126]:
path = os.getcwd()

In [127]:
driver_service = Service(executable_path="C:/chromedriver.exe")

In [128]:
browser = webdriver.Chrome(service = driver_service)
browser.get(url)

<h3>Setting up Sellenium to find html element on the screen</h3>

In [110]:
highestStocks = browser.find_element("xpath",'//*[@id="altas_e_baixas"]')

In [111]:
highestStocks = browser.find_element("xpath",'//*[@id="altas_e_baixas"]/thead/tr/th[4]')

In [112]:
highest = browser.find_element("xpath",'//*[@id="altas_e_baixas"]').get_attribute('outerHTML')

<h2>Present the data into a table, using Pandas dataframe where dynamically change it when refreshed</h2>

---

<p>Var.Dia (%) - Maiores altas dentro de um período das ações, apresentado em uma tabela dinâmica</p>
<br>

In [113]:
dataframe = pd.read_html(highest, decimal = ',', thousands = '.')
dataframe[0]

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,ECOR3,18/01,4.60,5.02,2.91,3.37,3.37,-35.68,4.45,4.78,"33,44 M"
1,CMIN3,18/01,4.74,4.40,3.49,16.18,16.18,-19.07,4.69,4.84,"61,77 M"
2,RENT3,18/01,57.95,4.24,7.89,8.93,8.93,19.31,56.20,58.39,"790,28 M"
3,RRRP3,18/01,46.05,3.95,4.16,21.99,21.99,26.13,44.69,46.78,"305,02 M"
4,EZTC3,18/01,13.60,3.81,3.03,1.27,1.27,-16.27,13.26,14.10,"45,43 M"
...,...,...,...,...,...,...,...,...,...,...,...
77,SUZB3,18/01,49.86,-2.65,-1.13,3.36,3.36,-15.87,49.38,51.70,401 M
78,CVCB3,18/01,4.18,-3.24,-9.13,-6.90,-6.90,-62.31,4.15,4.51,"104,31 M"
79,MGLU3,18/01,3.56,-6.06,3.79,29.93,29.93,-39.56,3.52,3.88,"831,63 M"
80,VIIA3,18/01,2.38,-6.66,0.42,-0.83,-0.83,-36.53,2.35,2.60,"172,58 M"
81,AMER3,18/01,1.74,-8.42,-44.76,-81.97,-81.97,-94.09,1.71,2.03,"133,84 M"

In [114]:
lowestStocks = browser.find_element("xpath",'//*[@id="altas_e_baixas"]')

In [115]:
lowestStocks = browser.find_element("xpath",'//*[@id="altas_e_baixas"]/thead/tr/th[4]').click()

In [116]:
lowest = browser.find_element("xpath",'//*[@id="altas_e_baixas"]').get_attribute('outerHTML')

<p>Var.Dia (%) - Maiores Baixas dentro de um período das ações, apresentado em uma tabela dinâmica</p>
<br>

In [117]:
dataframe = pd.read_html(lowest, decimal = ',', thousands = '.')
dataframe[0]

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,AMER3,18/01,1.74,-8.42,-44.76,-81.97,-81.97,-94.09,1.71,2.03,"133,84 M"
1,VIIA3,18/01,2.38,-6.66,0.42,-0.83,-0.83,-36.53,2.35,2.60,"172,58 M"
2,MGLU3,18/01,3.56,-6.06,3.79,29.93,29.93,-39.56,3.52,3.88,"831,63 M"
3,CVCB3,18/01,4.18,-3.24,-9.13,-6.90,-6.90,-62.31,4.15,4.51,"104,31 M"
4,SUZB3,18/01,49.86,-2.65,-1.13,3.36,3.36,-15.87,49.38,51.70,401 M
...,...,...,...,...,...,...,...,...,...,...,...
77,EZTC3,18/01,13.60,3.81,3.03,1.27,1.27,-16.27,13.26,14.10,"45,43 M"
78,RRRP3,18/01,46.05,3.95,4.16,21.99,21.99,26.13,44.69,46.78,"305,02 M"
79,RENT3,18/01,57.95,4.24,7.89,8.93,8.93,19.31,56.20,58.39,"790,28 M"
80,CMIN3,18/01,4.74,4.40,3.49,16.18,16.18,-19.07,4.69,4.84,"61,77 M"
81,ECOR3,18/01,4.60,5.02,2.91,3.37,3.37,-35.68,4.45,4.78,"33,44 M"